@import './variables';

*, 
html{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    // background-image: url(../assets/venom.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#141414;
    // color: $color-white;
    backdrop-filter: blur(40px);
}